<!DOCTYPE html>
<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    function Edit(id) {
        window.location.href = "/userEdit?id=" + id;
    }

    function Alert(id,url,token) {

      var e = document.getElementById("alerttype");
      var alertType = e.options[e.selectedIndex].value;
      var gatewayurl =document.getElementsByName('gatewayurl')[0].value;
      var userkey =document.getElementsByName('user_key')[0].value;
      gatewayurl=gatewayurl+'/cicd/maingateway/profile/'+id;

      $.ajax(
   {
      type:'GET',
      url:gatewayurl,
      data:"alertType="+alertType+"&api-key="+userkey,
      success: function(data){
        alert(data);
      }
   }
);


    }

    function Search() {

        var userid = document.getElementsByName('suserid')[0].value;
        window.location.href = "/?user=" + userid;;
    }
    </script>
</head>

<body>
    <h1>CICD GA Release -Web App</h1>
    <div class="search">
        <label>3scale user_key   :</label>
        <input type="text" name="user_key" value="<%=token  %>" placeholder="input the user_key" style="width: 700px;" ><br><br>
        <label>3scale gateway URL :</label>
        <input type="text" name="gatewayurl" value="<%=url  %>" placeholder="input the 3scale gateway url"  style="width: 700px;" />
    </div>

    <div class="search">
        <label>UserId：</label>
        <input type="text" name="suserid" value="<%=user  %>" placeholder="input the id">
        <input type="button" name="sSearch" value="Search User" class="btn" onclick="Search();" style="width: 100px;" />
        <input class="btn" type='submit' value='Add New User' onclick="javascript: location.href='add'"  style="width: 100px;" />
    </div>
<div class="dropdown" style="width: 300px;">
     <div class="select">
        <label>

        	<span>Select Alert Type:</span>
        	<select name="alerttype" id="alerttype" style="width: 250px;">
        		<option value="ACCIDENT">Accident</option>
            <option value="WEATHER">Weather</option>
        		<option value="MAILBOX">Mailbox</option>
            <option value="APPOINTMENT">Appointment</option>
            <option value="TRANSACTION">Transcation</option>
            <option value="ADVERTISEMENT">Advertisement</option>
          </select>
        </label>

</div>

    </div>
    <div class="control">

    </div>
    <table class="table">
        <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <%= data[i].id  %>
                </td>
                <td>
                    <%= data[i].firstName  %>

                </td>
                <td>
                    <%= data[i].lastName  %>
                </td>
                <td>
                    <%= data[i].email  %>
                </td>
                <td>
                    <%= data[i].phone  %>
                </td>
                <td>
                    <input type="button" name="edit" value="Edit" class="btn" onclick="Edit('<%= data[i].id  %>');" />
                    <input type="button" name="alert" value="Send Alert" class="btn" onclick="Alert('<%= data[i].id  %>', '<%= url %>', '<%= token %>');" />
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>
