<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title></title>
    <script type="text/javascript">
    function Check() {

        var id = document.getElementsByName('userid')[0].value;
        var pwd = document.getElementsByName('password')[0].value;
        var mail = document.getElementsByName('email')[0].value;
        if (id && pwd && mail) {
            return true;
        }
        alert('please input the info.');
        return false;

    }
    </script>
</head>

<body>
    <form name="editform" action="userEdit" method="post" accept-charset="utf-8" onSubmit="return Check();">
        <h1>User - Edit</h1>
        <input type="hidden" name="id" value="<%=data[0].id  %>" />
        <div class="row">
            <label>userid：</label>
            <input type="text" name="userid" placeholder="userid" value="<%=data[0].id %>" readonly  />
        </div>
        <div class="row">
            <label>First Name：</label>
            <input type="text" name="firstName" placeholder="firstName" value="<%=data[0].firstName  %>" />
        </div>

        <div class="row">
            <label>Last Name：</label>
            <input type="text" name="lastName" placeholder="lastName" value="<%=data[0].lastName  %>" />
        </div>




        <div class="row">
            <label>Phone No：</label>
            <input type="text" name="phone" placeholder="phone" value="<%=data[0].phone  %>" />
        </div>


        <div class="row">
            <label>Address：</label>
            <input type="text" name="addr" placeholder="addr" value="<%=data[0].addr  %>" />
        </div>



        <div class="row">
            <label>email：</label>
            <input type="text" name="email" placeholder="email" value="<%=data[0].email  %>">
        </div>
        <div class="row">
            <input class="btn" type='submit' value='Submit'>
            <input class="btn" type='reset' value='Reset'>
            <input class="btn" type='button' value='Back' onclick="javascript: window.history.back();">
        </div>
    </form>
</body>

</html>
